<%= form_with model: [@article, @article.comments.build] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    Status:
    <% Article::VALID_STATUSES.each do |status| %>
      <%= form.radio_button :status, status %>
      <%= form.label "status_#{status}".to_sym, status.capitalize %>
    <% end %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
